<% content_for :javascripts do %>
  <%= javascript_include_tag params[:controller] %>
<% end %>

<div class="row">
  <div class="col-12">
    <% if @editing %>
      <div class="alert alert-info" role="alert">
        <strong>Editing</strong>
        We have seen this assignment before.
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Configure Assignment</h3>
    <p>
      <em>These settings should be saved asynchronously</em>
    </p>
  </div>
</div>

<div id="assignment-configuration" class="row">
  <div class="col-12">
    <form id="assignment-settings-form">
      <input type="hidden" id="lti_assignment_id" name="lti_assignment_id" value="<%= params['ext_lti_assignment_id'] %>">
      <h4>Settings</h4>
      <hr />
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input id="setting_one"
                   name="setting_one"
                   type="checkbox"
                   <%= @settings&.fetch('settings_one') == 'true' ? 'checked' : nil %>>
            Setting one
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input id="setting_two"
                   name="setting_two"
                   type="checkbox"
                   <%= @settings&.fetch('settings_two') == 'true' ? 'checked' : nil %>>
            Setting two
          </label>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h4>Debug</h4>
    <h5>Launch Parameters</h5>
    <hr />
    <% params.each do |k, v| %>
      <div class="card" style="margin-bottom: 5px; font-size: 13px;">
        <div class="card-block" style="padding: 6px;">
          <strong class="card-title"><%= k %></strong>
          <p class="card-text" style="word-wrap: break-word;">
            <%= v %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>


