<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Submissions received</div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Tool Consumer Submission ID</th>
      <th>LTI Assignment ID</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    </thead>
    <tbody>
    <% @submissions.each_with_index do |sub, i| %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= sub.tc_id %></td>
        <td><%= sub.assignment.lti_assignment_id %></td>
        <td><%= sub.created_at %></td>
        <td><%= sub.updated_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>