<% content_for :javascripts do %>
  <%= javascript_include_tag params[:controller] %>
<% end %>
<br>
<div id="submission-index-alert"
     class="alert alert-success alert-dismissible fade show"
     role="alert">
  <strong>Complete!</strong> Reload page to see data.
</div>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h2>Submissions received</h2>
  </div>

  <!-- Table -->
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Tool Consumer Submission ID</th>
      <th>LTI Assignment ID</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Attachments</th>
      <th>Originality Score</th>
    </tr>
    </thead>
    <tbody>
    <% @submissions.each_with_index do |sub, i| %>
      <tr>
        <th scope="row"><%= i + 1 %></th>
        <td><%= sub.tc_id %></td>
        <td><%= sub.assignment.lti_assignment_id %></td>
        <td><%= sub.created_at %></td>
        <td><%= sub.updated_at %></td>
        <td>
          <div style="max-width:200px;overflow:scroll;max-height:100px;">
            <%= sub.attachments %>
          </div>
        </td>
        <td>
          <%= sub.originality_reports.last&.originality_score ||
              'Not Created' %>
        </td>
        <td>
          <% if sub.attachments.blank? %>
            <button type="button"
                    class="btn btn-outline-primary get-submission"
                    data-tp-guid="<%= sub.tool_proxy.guid %>"
                    data-tc-id="<%= sub.tc_id %>"
                    style="width:100%">
              Fetch Submission
            </button>
          <% end %>
          <% if sub.attachments.present? %>
            <div>
              <label class="sr-only" for="score-group">
                Originality Score
              </label>
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text"
                       id="<%= sub.tc_id %>-<%= sub.assignment.tc_id %>"
                       class="form-control score-input"
                       placeholder="Score" />
              </div>

            </div>
            <button type="button"
                    class="btn btn-outline-success create-report"
                    data-subject-tc-id="<%= sub.tc_id %>"
                    data-assignment-tc-id="<%= sub.assignment.tc_id %>"
                    data-report-id="<%= sub.originality_reports&.last&.tc_id %>"
                    data-updating="<%= sub.originality_reports.present? %>"
                    style="width:100%;margin-top:5px;">
              <%= sub.originality_reports.blank? ? 'Create Report' : 'Update Report'  %>
            </button>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
